:root{
    --bege:#e5ded3;
    --marromclaro:#9a4624;
    --verde:#3b6040;
    --cinza:#665e4d;
    --dourado:#99722e;
}

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: aliceblue;
}

.form-perfil{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:2vh;
    background-color: white;
    padding: 5vh;
}

.form-perfil h1{
    text-align: center;
    text-transform: uppercase;
}

.div-form{
    margin: 2.5vh 0;
    display: flex;
    flex-direction: column;
}

.div-form label, .div-form input{
    font-size: 2.5vh;
}

.div-form label{
    margin:1vh 0;
    font-weight: bold;
}

.div-form-radio{
    display: flex;
}

.div-form-radio label{
    margin-left: 1vh;
    font-weight: normal;
}

.input-text{
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5vh;
    outline: none;
}

.input-submit{
    border: none;
    border-radius: 1vh;
    background-color: blue;
    padding: 2vh;
    color: white;
    font-weight: bold;
    outline: none;
}

.mensagem-cadastro a{
    color: #00A550;
}