:root{
    --bege:#e5ded3;
    --marromclaro:#9a4624;
    --verde:#3b6040;
    --cinza:#665e4d;
    --dourado:#99722e;
}

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: aliceblue;
}

.form-perfil{
    position: absolute;
    top:50;
    left:50;
    background-color: white;
}