:root{
    --bege:#e5ded3;
    --marromclaro:#9a4624;
    --verde:#3b6040;
    --cinza:#665e4d;
    --dourado:#99722e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    background-color: aliceblue;
}

.cabecalho{
    background-color: var(--dourado);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.topo-cabecalho{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-logo{
    display: flex;
    align-items: center;
}

.div-logo a{
    font-size: 4vh;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.div-logo img{
    width:25vh;
}

.div-perfil{
    margin-right: 5vh;
    display: flex;
    align-items: center;
}

.div-perfil a{
    margin:0 2vh;
    padding: 1.5vh;
    font-weight: bold;
}

.link-login{
    border:0.5vh solid white;
    border-radius: 1.5vh;
    background-color: white;
    text-decoration: none;
    color: var(--dourado);
}

.link-cadastro{
    border:0.5vh solid white;
    border-radius: 1.5vh;
    text-decoration: none;
    color:white;
}

.div-perfil img{
    height: 10vh;
}

.barra-navegacao ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barra-navegacao li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding:4vh;
}

.barra-navegacao a{
    font-size: 3.5vh;
    text-decoration: none;
    color: var(--marromclaro);
}