:root{
    --bege:#e5ded3;
    --marromclaro:#9a4624;
    --verde:#3b6040;
    --cinza:#665e4d;
    --dourado:#99722e;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}

.cabecalho{
    background-color: var(--verde);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.topo-cabecalho{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-logo{
    display: flex;
    align-items: center;
}

.div-logo a{
    font-size: 4vh;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.div-logo img{
    width:25vh;
}

.div-perfil{
    margin-right: 5vh;
    display: flex;
    align-items: center;
}

.div-perfil a{
    margin:0 2vh;
    padding: 1.5vh;
    font-weight: bold;
}

.link-login{
    border:0.5vh solid white;
    border-radius: 1.5vh;
    background-color: white;
    text-decoration: none;
    color: var(--verde);
}

.link-cadastro{
    border:0.5vh solid white;
    border-radius: 1.5vh;
    text-decoration: none;
    color:white;
}

.div-perfil img{
    height: 10vh;
}

.barra-navegacao ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.barra-navegacao li a{
    display: block;
    padding:4vh;
    color: var(--verde);
    text-align: center;
    font-size: 3vh;
    text-decoration: none;
}

.barra-navegacao li{
    width: 20%;
}

.barra-navegacao li a:hover{
    background-color: var(--verde);
    color: white;
}

.link-ativo li a{
    background-color: gray;
    color: white;
}

.sec-noticias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 9vh;
}

.artigo-noticia{
    margin:4vh;
    border-radius: 1vh;
    width: 80vh;
    background-color: white;
    padding:4vh;
}

.artigo-noticia:hover{
    box-shadow:1px 1px 10px 10px lightgray;
}

.artigo-noticia a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.div-imagem{
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 150vh;
    height: 30vh;
}

.div-imagem img{
    height: 100%;
}

.div-legenda{
    margin-left: 5vh;
}

.div-legenda h2{
    color: var(--marromclaro);
    text-decoration: none;
    font-weight: bold;
}

.div-legenda p{
    display: none;
    margin-top: 5vh;
}